<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_banner">
      <div class="area_visual">
        <video class="background-video" autoplay muted loop>
          <source src="./assets/videos/bg_banner.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <div class="inner_top">
          <span class="info_banner">카카오 소식 모아보기</span>
          <img src="../assets/img/icon_bulb.gif" class="icon_top" />
        </div>
      </div>
      <div class="title_visual">
        <strong class>더 가깝게, 카카오</strong>
      </div>
      <div class="inner_bottom type_btn">
        <a href="https://www.youtube.com/watch?v=pyg5BWzpy5Y" target="_blank">더 알아보기</a>
      </div>
      <div class="area_widget">
        <div>
          slick-slider 라이브러리 찾아보기 <br />
          https://programmer93.tistory.com/34
        </div>
        <div class="inner_widget first_widget">
          <div class="widget_slide">
            <a href="https://www.kakaocorp.com/page/detail/11302" target="_self"></a>
            <img src="../assets/img/img_banner_wallpaper2025.webp" alt="2025 카카오 점자달력" />
          </div>
          <div class="widget_slide"></div>
          <div class="widget_slide">
            <a href="https://techforimpact.io/" target="_self"></a>
            <img src="../assets/img/img_banner_kakaoImpact.webp" alt="카카오임팩트" />
          </div>
        </div>
        <div class="inner_widget second_widget"></div>
        <div class="inner_widget third_widget"></div>
      </div>
    </section>
  </body>
</html>
