<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_help">
      <strong>무엇을 도와드릴까요?</strong>
      <div class="inner_main inner_help">
        <div class="wrap_top">
          <div class="wrap_center inner_top">
            <a href="https://cs.kakao.com/" target="_blank" class="box_help">카카오 고객센터</a>
            <a href="https://cs.daum.net/" target="_blank" class="box_help">다음 고객센터</a>
            <a href="https://ccs.kakao.com/" target="_blank" class="box_help">커머스 고객센터</a>
          </div>
          <div class="wrap_social inner_top">
            <span>카카오의 다양한 소식을 구독하세요!</span>
            <p>공식 소셜 미디어 바로가기</p>
            <div class="list_social">
              <a href="https://pf.kakao.com/_ZRQBh" target="_blank" class="link_ch">
                <img src="../assets/img/icon_ch.png" alt="카카오채널" />
              </a>
              <a href="https://www.youtube.com/@Kakaobrandmedia" target="_blank" class="link_yt">
                <img src="../assets/img/icon_yt.png" alt="유튜브" />
              </a>
              <a href="https://www.instagram.com/kakao.today" target="_blank" class="link_insta">
                <img src="../assets/img/icon_insta.png" alt="인스타그램" />
              </a>
              <a href="https://www.facebook.com/kakao.brandmedia" target="_blank" class="link_fb">
                <img src="../assets/img/icon_fb.png" alt="페이스북" />
              </a>
              <a href="https://www.linkedin.com/company/kakaocorp" target="_blank" class="link_li">
                <img src="../assets/img/icon_li.png" alt="링크드인" />
              </a>
            </div>
          </div>
          <div class="wrap_recruit inner_top">
            세상만사에 관심이 많다면, 당신은 이미 카카오 크루
            <p>영입소식</p>
          </div>
        </div>
        <div class="wrap_bottom">
          <a href="https://www.kakaocorp.com/ir/main" target="_blank" class="box_help type-2">
            <span>투자정보</span>
            <p>바로가기</p>
          </a>
          <a href="https://www.kakaocorp.com/ir/main" target="_blank" class="box_help type-2">
            <span>데이터의 연결과 보호의 균형을 위한 카카오의 노력</span>
            <p>바로가기</p>
          </a>
        </div>
        <button type="button" class="btn btn-light">
          카카오 소식 모아보기
          <div class="cont_svg">
            <img src="../assets/img/button_arrow_right.svg" alt="더 알아보기" />
          </div>
        </button>
      </div>
    </section>
  </body>
</html>
