<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_news">
      <strong>오늘의 뉴스</strong>
      <div class="inner_news">
        <div class="wrap_top">
          <img src="../assets/img/icon_notice.webp" alt="보도자료" width="32px" />

          <div
            class="badge text-bg-white text-wrap"
            style="font-size: 12px; font-weight: 300; padding: 6px 12px; color: #000"
          >
            보도자료
          </div>
          <span>2024.11.19</span>
          <button>공유하기버튼</button>
          <a href="https://www.kakaocorp.com/page/detail/11329" class="title_box" draggable="false">
            카카오, 비즈니스 연속성 경영시스템 ‘ISO 22301’ 인증 획득<br />
          </a>
          <span class="item_tag">#인프라</span>
          <span class="item_tag">#비즈니스연속성</span>
          <span class="item_tag">#ISO</span>
          <span class="item_tag">#국제인증</span>
        </div>
        <div class="wrap_bottom">
          <img src="../assets/img/icon_notice.webp" alt="보도자료" width="32px" />

          <div
            class="badge text-bg-white text-wrap"
            style="font-size: 12px; font-weight: 300; padding: 6px 12px; color: #000"
          >
            보도자료
          </div>
          <span>2024.11.13</span>
          <button>공유하기버튼</button>
          <a href="https://www.kakaocorp.com/page/detail/11329" class="title_box" draggable="false">
            “최애와 카카오톡 오픈채팅에서 소통해요!” <br />
            카카오, 아티스트와 팬이 함께하는 카톡 팬미팅 ‘팬톡회’ 3회 진행
          </a>
        </div>
      </div>
    </section>
  </body>
</html>
