<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_responsible">
      <h1>섹션5</h1>
      <div class="inner_responsible">
        <div class="box_responsible type_esg"></div>
        <div class="box_responsible type_green"></div>
        <div class="box_responsible type_policy"></div>
      </div>
    </section>
  </body>
</html>
