<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_responsible">
      <strong>약속과 책임</strong>
      <div class="inner_responsible">
        <div class="box_responsible type_esg">
          <span class="name_responsible">ESG</span>
          <img class="img_responsible" src="../assets/img/esg.gif" alt="esg" />
          <p class="text_responsible">모두의 지속가능한 미래를 위한 카카오의 약속과 책임</p>
          ★여기 들어가는 바로가기 아이콘 더알아보기 아이콘 크기만 조절해서 넣기
        </div>
        <div class="box_responsible type_green">
          <span class="name_responsible">액티브그린</span>
          <img class="img_responsible" src="../assets/img/green.gif" alt="green" />
          <p class="text_responsible">카카오를 이용하는 만큼 우리들의 지구도 더 풍요로울 수 있도록</p>
        </div>
        <div class="box_responsible type_policy">
          <span class="name_responsible">정책매거진</span>
          <img class="img_responsible" src="../assets/img/policy.gif" alt="policy" />
          <p class="text_responsible">기술과 사람이 함께 만드는 건강한 디지털 문화를 고민합니다</p>
        </div>
      </div>
    </section>
  </body>
</html>
