<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_service">
      <h1>섹션3</h1>
      <div class="inner_service">
        <div class="box_service">1</div>
        <div class="box_service">2</div>
        <div class="box_service">3</div>
        <div class="box_service">4</div>
        <div class="box_service">5</div>
        <div class="box_service">6</div>
      </div>
    </section>
  </body>
</html>
