<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="cont_main area_service">
      <strong>더 나은 세상을 만드는 카카오 서비스</strong>
      <div class="inner_service">
        <div class="box_service">
          <span>커뮤니케이션</span>
          <div class="item_service">
            <a href="https://www.kakaocorp.com/page/service/service/KakaoTalk" class="link_service">
              <img src="../assets/img/button_kakaoTalk.png" alt="카카오톡" />
            </a>
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
          </div>
        </div>
        <div class="box_service">
          <span>비즈니스</span>
          <div class="item_service">
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
          </div>
        </div>
        <div class="box_service">
          <span>일상편의</span>
          <div class="item_service">
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
          </div>
        </div>
        <div class="box_service">
          <span>쇼핑</span>
          <div class="item_service">
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
          </div>
        </div>
        <div class="box_service">
          <span>엔터테인먼트</span>
          <div class="item_service">
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
          </div>
        </div>
        <div class="box_service">
          <span>소셜임팩트</span>
          <div class="item_service">
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
            <a href="" class="link_service"></a>
          </div>
        </div>
        <button type="button" class="btn btn-light">
          서비스 전체보기
          <div class="cont_svg">
            <img src="../assets/img/button_arrow_right.svg" alt="서비스 전체보기" />
          </div>
        </button>
      </div>
    </section>
  </body>
</html>
